code {
    font-family: monospace;
    background: #292929;
    color: white;
    font-size: 16px;
    padding: 5px;
}

.code-lang {
    display: block;
    padding: 5px;
    text-transform: uppercase;
    content: attr(data-lang);
    background: white;
    color: #24292e;
}
