---
layout: default
title: Home
sidebar: true
---

<div class="title">
  <h1>Reece Dunham</h1>
  <p>Heya, I'm a coder, designer of websites, and open-source lover.</p>
</div>
<div class="columns">
  {% include components/startcard.html %}
    <h3>About</h3>
    <p>I am a software developer and I maintain many open source projects on GitHub. I have been coding since 2014, and can say I have proficient knowledge inmost of the common programming languages such as Python, HTML, and JS to name a few.</p>
  {% include components/endcard.html %}
  {% include components/startcard.html %}
    <h3>Experience</h3>
    <p>I have taken a large amount of classes on Python (my main language) and web design, plus some on other languages such as Java, React, and the basics of Docker. I run several OSS projects that have helped me to learn how to apply code to the real world.</p>
  {% include components/endcard.html %}
  {% include components/startcard.html %}
    <h3>Hobbies</h3>
    <p>When I'm not working on software, I am most likely walking my dog, enjoying tennis, taking a hike in the local woods, playing a video game or two, listening to Spotify, or watching Netflix. Or sleeping - that's great for gaining energy to code more.</p>
  {% include components/endcard.html %}
</div>

<div>
  <h2>Get in touch</h2>
  <p>Want to have a chat? My contact info is on the sidebar. I'm looking forward to meeting you!</p>

  <h2>Things I've made</h2>
  <ul>
    <li>
      <a href="https://area4.readthedocs.io/en/stable">area4</a>
    </li>
    <li>
      <a href="https://privacy.rdil.rocks">My Privacy Journal</a>
    </li>
    <li>
      <a href="https://github.com/rdilweb">A few web libraries</a>
    </li>
    <li>
      <a href="https://cakebot.club">Cakebot</a>
    </li>
    <li>
      <a href="https://filehandlers.rdil.rocks">filehandlers</a>
    </li>
    <li>
      <a href="https://docs.rdil.rocks">
        A lot of other things, some are documented here
      </a>
    </li>
  </ul>

  <h2>Open-source projects I've worked on</h2>
  <ul>
    <li>
      <a href="https://github.com/PowerShell/PowerShell">PowerShell Core</a>
    </li>
    <li>
      <a href="https://github.com/PowerShell/PowerShell-Docker">
        PowerShell Docker Images (I'm an official curator!)
      </a>
    </li>
    <li>
      <a href="https://cirruslabs.org">Cirrus CI</a>
    </li>
    <li>
      <a href="https://masmas-js.github.io">MasMas.js</a>
    </li>
    <li>
      <a href="https://zlanguage.github.io">
        The Z programming language
      </a>
    </li>
    <li>
      <a href="https://opensourcedesign.net">
        Open Source Design
      </a>
    </li>
  </ul>
</div>
